#input {
  position: absolute;
  top: 8%;
  right: 0%;
  height: 50%;
  width: 50%;
  font-size: 25px;
  color: #272822;
  border-left: 4px solid rgb(0, 46, 87);
}
.input {
  width: 100%;
  height: calc(100% - 37px); /*fontsize+padding = 25px+12px*/
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  overflow: none;
  outline: none;
  background-color: rgb(0, 34, 64);
  color: white;
  resize: none;
  font-size: 15px;
}

.inputName {
  background-color: rgb(0, 34, 64);
  font-size: 20px;
  color: white;
}

@media only screen and (max-width:720px){
  #input{
    position: absolute;
    border-left: none;
    border-top:4px solid rgb(0, 46, 87) ;
    top: 100%;
    width: 100%;
  }
}
