#output {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 25px;
  color: #0d0e0d;
  width: 50%;
  height: 50%;
  border-left: 4px solid rgb(0, 46, 87);
  border-top: 8px solid rgb(0, 46, 87);
}

#code-results {
  font-size: 25px;
  color: #ffffffb4;
}

#closeDiv {
  font-size: 20px;
  display: flex;
  background-color: rgb(0, 34, 64);
  color: white;
  justify-content: space-between;
}

#clear {
  font-size: 18px;
  letter-spacing: 1px;
  background-color: rgb(0, 34, 64);
  border: none;
  border-radius: 0%;
}
#clear:hover {
  background-color: rgb(0, 50, 97);
}

@media only screen and (max-width:720px){
  #output{
    position: absolute;
    border-left: none;
    border-top:4px solid rgb(0, 46, 87) ;
    top: 141.5%;
    width: 100%;
  }
}
