#output{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 25px;
    color: #0d0e0d;
    width:50%;
    height:50%;
    border-left: 4px solid rgb(2, 55, 153);
}

#code-results{
    font-size: 25px;
    color: #ffffffb4;
}

#closeDiv{
    display: flex;
    background-color: rgb(21,49,75);
    color: white;
    justify-content: space-between;
}

#clear{
    font-size: 18px;
    letter-spacing: 1px;
}