#language {
  z-index: 5;
  position: absolute;
  top: 2%;
  left: 40.7%;
  height: 5.2%;
  width: 7%;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 12px;
  outline: none;
}
#language:active {
  outline: none;
}
select {
  background-color: rgb(0, 46, 87);
  color: white;
}
