#language{
    position: absolute;
    top: 1%;
    left: 29%;
    height: 50px;
    width: 20%;
    font-size: 20px;
    visibility: hidden;
}
select {
    background-color:rgb(0,34,64);
    color: white;
}
  