#header{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: rgb(0, 46, 87);
}

#fontSize{
    display: flex;
    position: relative;
    top: 0%;   
    left: 40%;
    height: 65%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    width: 6%;
    background-color: rgb(0, 46, 87);
    border: 2px solid white;
    cursor: pointer;
}
#dropMenu{
    position: relative;
    top: 10%;
    left: 40%;
    width: 6%;
    font-size: 1.5rem;
    background-color: rgb(0, 46, 87);
    border: 2px solid white;
}
#dropMenu div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}
#dropMenu div:hover{
    background-color: rgb(98,110,227);
    cursor: pointer;
}